doctype html
html(lang='en')
  include ../common/head.pug
  +head("Inscreva-se")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row
          .col-sm-12.offset-md-2.col-md-8
            .jumbotron
              h2.text-center Cadastre-se
              .row
                .col-sm-12.col-md-12
                  form(action='/signup', method='POST')
                    div.formgroup
                      label.small.mb-1.mt-3 Email:
                      input(placeholder='Email', required=true, name='email', type='email', value=formData.email).form-control
                      if (errors && errors.email)
                        p.small.text-danger #{errors.email}
                      label.small.mb-1.mt-3 Password:
                      input(placeholder='Nova Senha',required=true, name='password', type='password', value='').form-control
                      if (errors && errors.password)
                        p.small.text-danger #{errors.password}
                      button.mt-3.btn.btn-primary(type='submit') Cadastre-se
                      p.mt-2.mb-0
                        | Já tem uma conta? #[a(href="/login") Log in].

    include ../common/footer.pug
    +footer()